* {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(212, 176, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-inline: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(39, 47, 55);
    z-index: 10;
    height: 40px;
}


header nav ul {
    float: right;
    padding-right: 10px;
}
header nav ul li{
    display: inline-block;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(54, 64, 74);
}

main {
    position: relative;
    top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.content {
    background-color: black;
    height: 75%;
    margin: 0;
    color:white;
}

.content img {
    width:300px;
    height:300px;
}

.contact {
    margin: 0;
    color: white;
    height:fit-content;
    align-items: center;

}

.form {
    margin: 0 auto;
    display: block;
    border: 2px solid rgb(39, 47, 55);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

footer {
    position: fixed;
    bottom: 0px;
    left:0;
    right: 0;
    background-color: rgb(39, 47, 55);
    color: white;
    z-index: 10;
}